* {
   margin: 0;
   box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	background: #39383F;
  	font-family: 'Montserrat Alternates', sans-serif;
	width: 100%;
}

a {
	text-decoration: none;
	color: #fff;
}

/*---------------------------------- Header -------------------------------*/
.header{
	max-width: 100%;
	text-align: center;
	/*margin-left: 70px;*/
}

.header__text {
	color: #fff;
}

/*---------------------------------- Content -------------------------------*/
.content {
	margin-top: 30px;
	width: 100%;
	display: flex;
	height: 600px;
}

/*---------------------------------- Sidebar -------------------------------*/
.sidebar {
	width: 13%;
	border: solid;
	border-width: 1px;
	border-color: #1e1a29;
	/*background: #1e1a29;*/
}

.sidebar table {
	width: 100%;
}

.sidebar table a {
	color: #fff;
}

.sidebar table td{
	border: solid;
	border-width: 1px;
	border-color: #1e1a29;
	cursor: pointer;
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

.sidebar table td:hover {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	background: #6a6185;
}

.sidebar_row {
	margin-top: 10px;
	margin-bottom: 10px;
}


/*------------------------------------- Display -------------------------------*/

.rows {
	border: solid;
	border-width: 1px;
	border-color: #1e1a29;
	padding: 20px;
	text-align: left;
	width: 87%;
	display: flex;
	color: #fff;
	/*background: #fff;*/
	/*background: #291f42;*/
}

/*-----------------------*/
#row0 {
	text-align: center;
	width: 100%;
	height: 100%;
}

#row0 img {
	margin-top: 140px;
}

.left_50 {
	margin-top: 50px;
	width: 50%;
}

.right_50 {
	width: 50%;
	margin-top: 50px;
}

/*-----------------------*/
#row1 {
	width: 100%;
	display: none;
}

/*-----------------------*/
#row2 {
	width: 100%;
	display: none;
	margin: 0 auto;
}

#second_header {
	margin-top: 50px;
}

/*-----------------------*/
#row3 {
	width: 100%;
	display: none;
}

#row3 p {
	font-size: 20px;
}

/*-----------------------*/
#row4 {
	width: 100%;
	display: none;
}

/*-----------------------*/
#row5 {
	width: 100%;
	display: none;
	margin: 0 auto;
}

#row5 img{
 	width: 300px;
 	height: 200px;
}

/*-----------------------*/
#row6 {
	width: 100%;
	display: none;
}


/*-----------------------*/
#row7 {
	width: 100%;
	display: none;
}


/*-----------------------*/
#row8 {
	width: 100%;
	display: none;
}
